.block-element__thead {
  margin-bottom: 20px;
}

.block-info {
  margin-top: 10px;
  margin-bottom: 10px;
}

.block-info__thead {
  background-color: #361d3f;
  color: #fff;
  padding: 10px;
}

.block-info__row {
  padding: 5px 10px;
}

.block-info__row:nth-child(even) {
  background-color: #f1f1f1;
}


.block-element {
  margin-top: 10px;
  margin-bottom: 10px;
}