.block-list__element {
  text-align: center;
}

.block-list__element--height {
  width: 80px;
}

.block-list__element--timestamp {
  width: 200px;
}

.block-list__element--id {
  width: 500px;

  overflow: hidden;
  text-overflow: ellipsis;
}

.block-list__element--transactionsCount {
  width: 150px;
  text-align: center;
}

.block-list__wrapper {
  display: flex;

  flex-direction: row;

  justify-content: space-between;
}

.block-list__header {
  background-color: #361d3f;
  color: #fff;
  padding: 10px;
}

.block-list {
  padding: 25px;
}

.block-list__item {
  padding: 10px 10px;
}

.block-list__item:nth-child(even) {
  background-color: #f1f1f1;
}