.preloader {
  width: 128px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 128px;
  display: block;
  background-image: url('./img/preloader.svg');
  background-repeat: no-repeat;
  background-position: center;
}