.header {
    background: linear-gradient(141deg, #1c1326 0%, #361d3f 51%, #462e4e 75%);

    height: 60px;

    display: flex;

    flex-direction: row;

    justify-content: space-between;
    padding: 0 20px;

    align-items: center;

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
}

.header__logo {
    font-weight: 600;

    color: #fff;

    transition: transform 0.36s ease-in-out;
}

.header__logo:hover {
    color: #fff;
    text-decoration: none;
    transform: scale(1.2);
}

.header__logo:hover:after {
    opacity: 1;
}

.header__logo:after {
    content: 'ERGO';
    opacity: 0;

    transition: opacity 0.36s ease-in-out;
}

.header__search {
    border-radius: 30px;
    padding: 5px 10px;
    font-size: 14px;
    border: none;

    transition: width 0.36s ease-in-out;
    width: 160px;
}

.header__search:focus {
    width: 200px;
}